name: Python Run Tox

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
        # Following step is required for python 3.9: Build depenencies are missing
        sudo apt-get update && sudo apt-get install libxml2-dev libxslt-dev python3-dev -y

    - name: Run linters in tox
      run: tox -e linters

    - name: Test with tox
      # Run tox using the version of Python in `PATH`
      run: tox -e py

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
